/* Footer link styles */
.footerLink {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footerLink:hover {
  color: #00675b;
  font-size: 18px;
}

/* Icon styles */
.icon {
  font-size: 1.5rem;
  color: #000;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #008080;
}

/* Specific Icon Colors */
.facebook:hover {
  color: #3b5998; /* Facebook color */
}

.instagram:hover {
  color: #e4405f; /* Instagram color */
}

.twitter:hover {
  color: #1da1f2; /* Twitter color */
}

.linkedin:hover {
  color: #0077b5; /* LinkedIn color */
}

/* General footer styles */
.footer {
  background-color: #20b2ab2a;
  margin-top: 2rem;
  padding-top: 2rem;
}

.footer .container {
  text-align: left; /* Align content left for columns */
}

.list-inline-item {
  margin: 0 10px;
}

/* Ensure columns are vertically aligned */
.footer .row {
  align-items: flex-start;
  
}

/* Style for column headings */
.footer h5 {
  color: #000;
  font-weight: bold;

}

/* Adjust spacing for smaller screens */
@media (max-width: 767px) {
  .footer .container {
    text-align: center; /* Center content on smaller screens */
  }

  .footer .row {
    flex-direction: column;
  }

  .footer .col-12 {
    margin-bottom: 20px;
  }
}

/* Mobile responsive styles */
@media (max-width: 767px) {
  .mobileHealthContainer {
    padding: 1rem 0;
    height: 400px;
  }

  .mobileHealthCard {
    height: 300px !important; /* Override inline height for mobile */
    padding: 1.5rem !important; /* Adjust padding for mobile */
    border-radius: 0 !important; /* Soften the border radius for mobile */
    width: 100%;
  }

  .mobileHealthTitle {
    font-size: 1.5rem !important; /* Smaller heading for mobile */
    width: 100% !important; /* Full width for mobile */
    margin-bottom: 1rem !important;
  }

  .mobileHealthText {
    font-size: 1rem !important; /* Smaller text for mobile */
    width: 100% !important; /* Full width for mobile */
  }

  .mobileHealthImageWrapper {
    position: relative !important; /* Remove absolute positioning for mobile */
    right: 0 !important;
    top: -145px !important;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
  }

  .mobileHealthImage {
    width: 100% !important; /* Adjust image width for mobile */
    height: auto !important; /* Maintain aspect ratio */
    max-width: 300px; /* Limit maximum width for mobile */
  }
}